.DS_Store
*~

playground/*

.vim
.env
target
.idea
Cargo.lock

__pycache__
pip-wheel-metadata
*.egg-info
*.so
/bindings/python/examples/.ipynb_checkpoints
/bindings/python/build
/bindings/python/dist

.vscode
*.code-workspace
