name: ci

on:
  push:
  pull_request:

jobs:
  build:
    name:  Build for py-${{ matrix.python-version }}
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: | 
          conda install -y -c conda-forge "pymc>=4" 
          conda install -y maturin ipykernel jupyter arviz numba numpy nbconvert
      - name: Build
        working-directory: bindings
        run: maturin develop --release
      - name: Run Original Notebook
        working-directory: examples
        run: jupyter nbconvert --to notebook --execute BART_introduction.ipynb
      - name: Run Rust Notbeook
        working-directory: examples
        run: jupyter nbconvert --to notebook --execute BART_introduction_Rust.ipynb
